
h1,h2,h3{
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
}

.imagem_jogo_inicio { 
    width: 50%;
}

.imagem{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.header{
    display: flex;
    justify-content: center;
}