
h1,h2,h3{
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    color:rgb(52, 81, 91);
    background-color: antiquewhite;
    border-radius:10%;
    background-size: contain;
}
.imagem_jogo_inicio{ 
    width: 30%;
    height: 30%;
    margin:0%;
}
.imagem_jogo_borda{
    width: 15%;
}
.imagem{
    display: flex;
    justify-content: center;    
    background-color: antiquewhite;
    font-size: 200;
}

.header{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgba(104,151,165,255);
    /* background-color: rgb(224, 193, 161); */
    background-image: url(../img_site/fundo_marrom_2.png);
    background-size: 92%;
}